*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 1em;
}

img {
  max-width: 100%;
}

@media (min-width: 42em) {
  body {
    padding: 2em;
    max-width: 46em;
  }
}
